body {
    margin: 0;
    height: 100vh;
    overflow: hidden;

}

canvas {
    display: block;
}

#info {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    height: 100%;
    line-height: 100vh;
    font-size: 18vh;
    color: rgb(247, 254, 254);
    font-family: 'Rubik Mono One', sans-serif;
}